.Ques2 {
    border: 1px solid grey;
    border-radius: 0.5rem;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    box-shadow: 2px 3px 2px 0.5px grey;
    padding: 40px;
    margin: 10px;
    width: 400px;

}

.Ques2 img {
    width: 100%;
    height: 500px;

}

.text2 {
    width: 400px;
    position: relative;
    padding: 1rem;
    text-align: center;
}


.text2 p {
    font-size: 30px;
    margin: auto;
}




.ques3 {
    width: 800px;
    border: 1px solid;
}

#q3 {
    position: relative;
    width: 100%;

}

.content {
    text-align: start;
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    bottom: 200px;
}

.content p,
h1 {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: rgb(205, 214, 255);
    padding: 1rem;
    position: relative;
    bottom: 20px
}

.container {
    /* border: 1px solid black; */
    width: 300px;
    height: 600px;
    padding: 2rem;
    box-shadow: 2px 2px 30px gray;
    display: inline-block;
}

#small-container {
    display: inline-block;
    border: 2px solid black;
    width: fit-content;
    display: inline-block;
    padding: 0rem 0.5rem;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;


}

#price {
    background-color: azure;
    display: inline;
    font-size: 30px;
    width: 100%;
}

hr {

    size: 10px;
    width: 300px;
}

.signup {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    font-size: 20px;
    ;
    padding: 1rem
}

.para {
    color: gray;
    font-size: 30px;
    ;
}

.ques5 {
    text-align: center;
    box-shadow: 2px 2px 20px grey;
    display: inline-block;
    padding: 2rem;
    width: 300px;
    ;
}

.signup2 {
    background-color: orangered;
    font-size: 20px;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    color: white
}

.price-ques5 {
    display: inline;
    background-color: beige;
    font-size: 30px;

}