.App {
  text-align: center;
  margin: 2rem;
  font-family: sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  text-align: left;
}

li {
  border-radius: 0.5rem;
  border: 2px dashed rebeccapurple;
  padding: 1rem;
  display: inline-block;
  margin: 1rem;
  background-color: bisque;
}

button {
  background-color: mediumvioletred;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: small;
  font-family: sans-serif;
}

button:hover {
  font-size: large;
  background-color: mediumpurple;
}

.todo-desc {
  background-color: bisque;
  display: inline-block;
  padding: 1rem;
}

Link:hover {
  font-size: large;
  background-color: mediumpurple;
}